#sidebar-first h1 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#sidebar-first h2 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#sidebar-first h3 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#sidebar-first h4 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#sidebar-first h5 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#sidebar-first h6 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#sidebar-first .content { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#sidebar-second h1 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#sidebar-second h2 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#sidebar-second h3 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#sidebar-second h4 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#sidebar-second h5 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#sidebar-second h6 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#sidebar-second .content { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#content h1 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#content h2 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#content h3 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#content h4 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#content h5 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#content h6 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#content .content { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#footer-wrapper h1 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#footer-wrapper h2 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#footer-wrapper h3 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#footer-wrapper h4 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#footer-wrapper h5 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#footer-wrapper h6 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#footer-wrapper .content, .region-page-bottom .content { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#main-menu h1 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#main-menu h2 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#main-menu h3 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#main-menu h4 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#main-menu h5 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#main-menu h6 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#main-menu .content { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#site-slogan h1 { font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;}
#site-slogan h2 { font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;}
#site-slogan h3 { font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;}
#site-slogan h4 { font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;}
#site-slogan h5 { font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;}
#site-slogan h6 { font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;}
