.red{
	color: red;
}
.topInput{
    vertical-align: top;
    padding-top: 5px;
}
.padd5AB
{
    margin: 5px 0;
}
.kanan{ text-align: right; }
.kiri{ text-align: left; }
.tengah{ text-align: center; }