.tblDalam td{ 
	border-top: none;
    padding: 5px;
}
.operation{
	padding: 0 2px;
}
.abu{
	background-color:#F5F5F5;
}
.tebal{
	font-weight: bold;
}
.atas{
	vertical-align: top;
}
input[type='file']{
	padding: 5px;
	border: 2px solid #ddd;
	font-size: 10pt;
	font-family: arial, calibri;
}
.form-search{
	border: 1px solid #ddd;
	padding: 0 10px 10px 10px;
}
.content{
	width: 80%;
	clear: left; 
	float: left; 
	display: block; 
	position: relative; 
	left: 10%;
	right: 10%;
}

/*
body { width: 100%; margin: 0; padding: 0; overflow: hidden; }
#wrapper_1 { clear: left; float: left; position: relative; left: 50%; }
#container_1 { display: block; float: left; position: relative; right: 50%; }
*/